.partySlot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(40px, 4vw, 70px);
    height: clamp(40px, 4vw, 70px);

    border-radius: 12px;
    border: .5px solid black;

    background-color: rgb(255, 255, 255);

    aspect-ratio: 1 / 1;
}

.partySlot:hover {
    border: 3px solid rgb(255, 79, 79);
}