.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem; /* Um respiro nas bordas */
  
  /*background: linear-gradient(-134deg,  #FFB1B1, #E40D0D);*/
}

.leftSide {
  flex: 1;
  flex-direction: column;
  max-height: 80vh;
  border-radius: 12px; /* Bordas levemente arredondadas */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.rightSide {
  flex: 3;
  height: 80vh;
  max-width: 35vh; /* Largura máxima do log de batalha */
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  max-height: 150px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 1rem; /* Espaçamento entre os painéis */
  margin-left: 1rem; /* Espaçamento entre a tela de batalha e os painéis */
  margin-right: 1rem;
  width: 80%;
}

.screenWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
}

.playerParty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.enemyParty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.battleArea{
  flex: 1;
  background-color: white;
  border-radius: 10px;
}