.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem; /* Um respiro nas bordas */
  background-color: #333; /* Um fundo para a página inteira */
}