.wrapper {
  position: relative; /* cria contexto para os filhos absolutos */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  width: 80%;
  max-width: 1450px;  
  margin-left: 6rem;
  margin-right: 6rem;
  height: 80%;
  aspect-ratio: 16 / 9;
}

.battleScreen {
  z-index: 1;
  width: 100%;
  height: 90%;
  background-color: #2C2C2C;
  border-radius: 3rem;
  box-shadow: 10px 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.decorativeBand {
  position: absolute;
  z-index: 0;
  width: 110%;
  height: 70%;
  background-color: #2C2C2C;
  border-radius: 10px;
}